
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*{
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
a:visited {
  color: black;
}
a:link {
  color: black;
}
#body{
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
#body::-webkit-scrollbar {
  width: 8px;               
}

#body::-webkit-scrollbar-track {
  background: transparent;        
}

#body::-webkit-scrollbar-thumb {
  background-color: gray;    
  border-radius: 20px;       
  border: none;  
}
#primaryDisplay{
  grid-column: 1 1;
}
#sideBar{
  grid-column: 2 2;
  background-color: rgba(1,1,1,0.3);
}
#searchInput{
  display: flex;
  justify-content: space-between;
}
input{
  width: 65%;
  height: 10%;
  outline: none;
  border: none;
  border-bottom: 2px solid gray;
  margin-top: 5%;
  margin-left: 10%;
  background: transparent;
}
input, textarea {
  font-family: 'Roboto';
  color: gray;
  font-size: 1.5rem;
}
.btn{
  width: 18%;
  background-color: orange;
  border: none;
  opacity: 1;
}
h1{
  font-size: 9rem;
  font-family: 'Roboto';
  margin: 0;
}
/* temperature display */
#summaryDisplay{
  position: absolute;
  top: 50%;
  left: 5%;
  display: flex;
  background-color: rgb(211,211,211,0.2);
  border-radius: 5px;

}
#tempDataDisplay{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#temp{
  text-align: left;
}
#tempExtremes{
  display: flex;
  justify-content: center;
  align-items:flex-start;
  font-size: 1rem;
  font-family: 'Roboto';
}
.extreme{
  margin: 0 1.25rem 0 0.5rem;
}
#conditionsDataDisplay{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#presetCities{
  margin-left: 10%;
  padding-top: 10%;
}
a{
  text-decoration: none;
}
a:visited { 
  text-decoration: none; 
  color: lightgray; 
 }
#weatherDetails{
  margin-left: 10%;
  padding-top: 10%;
}
h2{
  font-size: 4rem;
  font-family: 'Roboto';
  margin-bottom: 0;
}
#currentDate{
  font-size: 1.25rem;
  font-family: 'Roboto';
}
.details{
  font-size: 1rem;
  font-family: 'Roboto';
  color: lightgrey;
}
hr{
  width: 60%;
  margin: 0;
}
@media only screen and (max-width: 770px){
  #presetCities{
    display: none;
  }
  #body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  #searchDisplay{
    width: 100%;
    margin: 0;
    position: fixed;
  }
  hr{
    display: none;
  }
  #primaryDisplay{
    display: flex;
  }
  #summaryDisplay{
    flex-direction: column;
    width: 100%;
    position: absolute; /*absolute used as relative positioning has a display issue in safari */
    top: 40%;
    left: 0;
    color: black;
  }
  #tempDataDisplay{
    color: black;
  }
  #temp{
    margin: auto;
  }
  #tempExtremes{
    
  }
  #conditionsDisplay{
    text-align: center;
  }
  #city{
    margin: auto;
  }
  #currentDate{
    margin: auto;
  }
  #weatherDetails{
    padding-top: 5%;
    margin-left: 0;
    text-align: center;
  }
}


